html,head,body{
    margin: 0
background-color: white;
}
body{
    background-color:white;
    }
table,td,tr {
    table-layout: fixed ;
    width: 100% ;
    background-color: white;
    border: 1px solid black;
}
tr, td {
    padding: 10px;
}

